body {
    width: 977px;
    margin: 0 auto;
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    background-color: pink;
  }
  hr {
    border-color: gray;
    border-style: dotted none none;
    border-width: 10px;
    width: 5%;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  h1, p, h2 {
    display: block;
    font-family: 'Lobster', cursive;
  }
  h3{
    text-align: center;
    font-size: xx-large;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Lobster', cursive;
  }
  li {
    display: inline;
    margin: 0 0 0 50px;
    width: 100px;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  table {
    margin: auto;
    padding-left: 3cm; 
    padding-right: 3cm;
  }
  .bottom-container {
    text-align: center;
    background-image: url(https://thumbs.gfycat.com/ExcellentCavernousHairstreakbutterfly-small.gif);
    font-family: 'Lobster', cursive;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .skill {
    width: 150px;
    height: 150px;
  }
  .kill {
    width: 50px;
    height: 50px;
  }
  .footer-link {
    font-size: 150%;
  }
  .copyright {
    font-size: 70%;
  }